@font-face
  font-family fernando
  src url(./ttf/fernando.ttf)

@font-face
  font-family fipps
  src url(./ttf/fipps.otf)

@font-face
  font-family freepixel
  src url(./ttf/freepixel.ttf)

@font-face
  font-family minecraftia
  src url(./ttf/minecraftia.ttf)

@font-face
  font-family retro
  src url(./ttf/retro.ttf)

@font-face
  font-family impostor
  src url(./ttf/impostor.ttf)
